.logo-container{
    z-index:0;
    width: 400px;
    height: 609px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
    opacity: 1;

    svg{
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(30deg) !important;
    }
    
    .solid-logo{
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        opacity: 0;
        transform: rotateZ(30deg);
        z-index: 1;
    }
}

.svg-container{
    stroke: #ffd700;
    stroke-width: 10px;
}

.displayS {
    animation-name: displayS;
    animation-timing-function: linear;
    animation-iteration-count: initial;
    animation-duration: 4s;
}

.opacityMax {
    opacity: 1 !important ;
}

@keyframes displayS {
    0% {
        opacity: 0 ;
    }   
    100% {
        opacity: 1;
    } 
}